#main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px black solid;
    border-radius: 5px;
    width: 500px;
    height: 430px;
    margin-top: 100px;
    margin-left: 430px;
    box-shadow: 2px 2px 2px 2px lightslategray;
}
#head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 0px black solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: orangered;
    height: 35px;
}
#arrow{
    color:black;
    padding-left: 10px;
    padding-top: 10px;
}
#body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
}
#input{
    width: 400px;
    height: 20px;
    border: 1px black solid;
    border-radius: 5px;
}
#input1{
    border: 1px black solid;
    border-radius: 5px;
}
button{
    color: orangered;
}