{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id="main">
        <div id="head">
            <h1>Login</h1>
        </div>
        <div id="body">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Username:</label><br>
                <input type="text" name="s_name" value="{{key1}}" ><br><br>
                <label for="">Password:</label><br>
                <input type="text" name="s_pass" value="{{key2}}"><br><br>
                <a href=""><button type="submit">Login</button></a><br><br>
                <label for="">Don't have an account?</label><a href="/register">Register</a>
            </form>
        </div>
    </div>
</body>
</html>